#guest {
  body {
    color: #707070 !important;
    background-color: #f8fafc;
    //background-color: white;
  }

  .mynav-items-center {
    position: absolute;
    left: 50%;
    right: 50%;
    justify-content: center;
  }

  .my-btn-primary-color {
    background-color: #da1c78 !important;
    border-color: #da1c78 !important;
    color: white;
  }

  .my-btn-primary-color:hover {
    color:white !important;
    background-color: #b01862 !important;
  }

  .btn-no-focus {
    box-shadow: none !important;
  }

  .btn-rounded {
    border-radius: 2rem !important;
  }

  .brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .brands img {
    opacity: 0.53;
  }

  .stars {
    font-size: 12px;
  }

  .feature-icon{
    font-size:60px;
  }

  .my-card-shadow {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 0;
  }

  .product {

  }

  .product a {
    color:inherit !important;
    text-decoration: none;
  }

  .product:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 2px 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .product-price {
    display: flex;
    align-items: flex-end;
    height: 45px;
  }

  .card-img-top {
    width: 250px;
    height: 250px;
  }

  .banner {
    height: 40vh;
  }

  .content {
    margin-top: 50px;
  }

  .my-link {
    text-decoration: none;
    color:inherit;
  }

  .my-link:hover{
    text-decoration: none;
    color:black;
  }

  .text-center-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: 600;
  }

  .featured-products {
    object-fit: cover;
    filter:brightness(.7);
    width: 250px;
    height: 250px;
  }

  .login-input {
    border-radius: 10rem !important;
    padding:1.3rem 1rem !important;
    font-size: .8rem !important;
  }

  .login-btn {
    background-color: #727cf5;
    border-radius: 10rem !important;
    padding: .55rem 1rem !important;
    color:white !important;
    font-size: .8rem;
  }

  .login-btn:hover {
    cursor: pointer;
    background-color: #4e5bf2;
    transition: 0.2s;
    color:white;
  }

  .bg-login-image{
    background-image: url("/storage/img/headset.svg");
    background-position: center;
    background-size: 380px;
    background-repeat: no-repeat;
  }

  .sort-btn{
    padding:15px 40px;
    text-decoration: none;
    color: inherit;
    /*margin: 0 20px;*/
    cursor: pointer;
  }

  .sort-btn:hover{
    text-decoration: none;
    color:black !important;

  }

  .sort-btn.active {
    border-bottom: 3px solid #9C68AA;
    color:black;
  }

  /**
   * NAVBAR SEARCH
   */
  .navbar .search-form {
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
  }
  .navbar .search-form .input-group {
    display: block;
    padding-right: 30px;
    width: 30px;
    overflow: hidden;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  .navbar .search-form.open .input-group {
    border-bottom: 2px solid #9C68AA;
    transition: all 0.2s ease-in-out;
  }
  .navbar .search-form .form-control,
  .navbar .search-form .form-control:focus {
    /*color:#fff;*/
    height: 30px;
    padding: 6px 12px 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    bottom: 8px;
  }
  .navbar .search-form .input-group-btn {
    display: block;
    position: absolute;
    right: 0;
    top: -8px;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  .navbar .search-form .input-group-btn .icon {
    position: relative;
    bottom: -3px;
    left: -1px;
    font-size: 16px;
  }
  .navbar .search-form .btn {
    padding: 5px 8px;
    border-radius: 0;
    /*color:#fff;*/
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  .navbar .search-form .btn:active,
  .navbar .search-form .btn:hover,
  .navbar .search-form .btn:focus,
  .navbar .search-form.open .btn {
    color: #000;
    /*background-color: #5F5F5F;*/
    /*border: 1px solid #5F5F5F;*/
    transition: all 0.2s ease-in-out;
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0;
  }
  .navbar .search-form.open .input-group {
    width: 145px;
    transition: width 0.3s ease-in-out;
  }
  :-ms-input-placeholder {
    color: #555 !important;
  }
  ::-moz-placeholder {
    color: #555 !important;
  }
  :-moz-placeholder {
    color: #555 !important;
  }
  ::-webkit-input-placeholder {
    color: #555 !important;
  }

  .name {
    font-size:20px;
  }

  .numeric-updown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }

  .numeric-updown .numeric-minus {
    padding: 10px;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 12px;
  }

  .numeric-updown .numeric-plus {
    padding: 10px;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 12px;
  }

  .numeric-updown .numeric-number {
    padding: 10px;
  }

  .price {
    font-size:2rem;
  }

  .name {
    font-weight: 600;
  }

  .btn-purple {
    background-color: #9C68AA20;
    color: #9C68AA;
    font-weight: bolder;
  }

  .btn-purple:hover{
    color: #9C68AA;
  }

  .table td, .table th {
    border-bottom: 1px solid #dee2e6;
    border-top:0;
  }

  .specifications th {
    color: #707070;
  }

  .specifications td {
    color: #707070;
  }

  .specifications .table-value {
    text-align: end;
  }

  .pagination-item {
    margin: 0 10px;
    color: #939393;
  }

  .pagination-item.active {
    color: #9C68AA;
    font-weight: bold;
  }

  /* Stripe payment design */
  .example {
    border-radius: 4px;
    box-shadow: 0 7px 14px
    rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

  }
  .example.example1 {
    background-color: #6772e5;
    padding: 40px;
  }

  .example.example1 * {
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .example.example1 form {
    padding: 40px;
  }
  .example.example1 fieldset {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
    border-radius: 4px;
  }

  .example.example1 .custom-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
  }

  .example.example1 .custom-row + .custom-row {
    border-top: 1px solid #819efc;
  }

  .example.example1 label {
    width: 15%;
    min-width: 70px;
    padding: 11px 0;
    color: #c4f0ff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .example.example1 input, .example.example1 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
  }

  .example.example1 input:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
  }

  .example.example1 .StripeElement--webkit-autofill {
    background: transparent !important;
  }

  .example.example1 .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }

  .example.example1 input {
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #fff;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out;
  }

  .example.example1 input::-webkit-input-placeholder {
    opacity: 1;
    color: #87bbfd !important;
  }

  .example.example1 input::-moz-placeholder {
    opacity: 1;
    color: #87bbfd !important;
  }

  .example.example1 input:-ms-input-placeholder {
    opacity: 1;
    color: #87bbfd !important;
  }

  .example.example1 button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #fff;
    border-radius: 4px;
    color: #6772e5;
    font-weight: 600;
    cursor: pointer;
  }

  .example.example1 button:active {
    background-color: #efefef;
  }

  .example.example1 .error svg .base {
    fill: #fff;
  }

  .example.example1 .error svg .glyph {
    fill: #6772e5;
  }

  .example.example1 .error .message {
    color: #fff;
  }

  .example.example1 .success .icon .border {
    stroke: #87bbfd;
  }

  .example.example1 .success .icon .checkmark {
    stroke: #fff;
  }

  .example.example1 .success .title {
    color: #fff;
  }

  .example.example1 .success .message {
    color: #9cdbff;
  }

  .example.example1 .success .reset path {
    fill: #fff;
  }
}
